body{
    background-color: bisque ;
}

.site-header{
    background-color:#003e1f;
    color: #f79824;
    display:flex;
    padding: 10px;
}
.site-description{
    font-family: 'Bebas Neue', cursive;
}


.site-footer{
    background-color:#003e1f;
    color: #f79824;
    text-align:center;
    height:200px;
    
}

.site-info a{text-decoration: none; color: #fff;}

.main-navigation {
    margin-top: 30px;
    margin-left:700px;
}

.menu-item a{
    color: #f79824;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
    
}