body{
    background-color: #ffe4c4 ;
}

.site-header{
    background-color:#003e1f;
    color: #f79824;
    display:flex;
    padding: 10px;
    margin-bottom: 25px;

}
.site-description{
    font-family: 'Bebas Neue', cursive;
}

.site-branding{
    padding-left:30px;
    padding-top: 10px;
}

/* footer CSS start
--------------------------------------------- */
.site-footer-bottom{
    background-color:#003e1f;
    color: #f79824;
    text-align:center;
    padding: 15px 0;
}

.site-footer-top{
    background-color:#2a752a;
    color: #f79824;
    padding: 1.25rem 30px 1.5rem 60px;
}

.site-footer-bottom-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}

.site-info a{text-decoration: none; color: #fff;}

.footer-widgets-wrapper {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
}

.footer-widget-single{
    padding-left: 50px;
}
/* footer CSS end
--------------------------------------------- */


.main-navigation {
    margin-top: 50px;
    margin-left:520px;
}

.menu-item a{
    color: #f79824;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;    
}

.widget_nav_menu a{
    color: #fff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: -18px;
    margin-top: -15px;  
    width:200px;  
}

.entry-title{
    color:#003e1f;
}
.widget-title{
    color: #f79824;
}

.comment-form-comment textarea{
    max-width: 1078px;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
  border: 6px solid #003e1f;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  color: #003e1f;
  font-size:20px;
  resize: none;
}
.comment-form-comment label {
   font-weight: 800;
   font-size:1.5rem;
   font-family: "Montserrat";
   color:#023a1e;
}
.comment-form-comment {
   display:flex;
   justify-content: center;
}

.form-submit{display:flex;justify-content:center;border-radius: 10px;}

div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=email]{
    border-radius: 10px;
}

.navigation {
    display:none;
}

.comment-reply-title{
    text-align: center;
    font-size:xx-large;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    border-radius: 10px;
    width: 720px;
    height: 250px;
}

div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
    display: block;
    font-size: 13px;
    float: none;
    font-weight: 600;
    line-height: 1.3;
    margin: 4px 0 0 14px;
    padding: 0;
}