
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bebas+Neue&family=DM+Serif+Display&family=Oswald&display=swap');


/* WP Blocks
--------------------------------------------- */
/* WP BLOCK QUOTES */
.wp-block-quote {
    color:green;
    font-family: Gillsans,sans-serif;
}
/* WP BLOCK SITE LOGO */
.wp-block-site-logo.is-style-default {
    width:150px;
    display: flex;
    justify-content: center;
    
}
/* WP BLOCK BUTTONS */
.wp-block-button__link {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #ffc125;
    color:#003e1f;
    border-radius:50px;
    font-family: Gillsans,sans-serif;
}
.wp-block-button__link:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* WP BLOCK QUOTES */
.wp-block-quote.is-style-fancy-quote {
    color: tomato;
}

.wp-block-quote.is-style-large {
    color: #0693e3;
}
/* WP BLOCK QUOTES */


/* WP BLOCK HEADING */
h1.wp-block-heading{
    font-family: 'Oswald', sans-serif;
    color: #0693e3;
}
h1{
    font-family: 'Oswald', sans-serif;
    color: #0693e3;
}

/* WP BLOCK H2 */
h2 {
    font-family: Gillsans, sans-serif;
    color: #e34806;
}
h2.wp-block-heading {
    font-family: Gillsans, sans-serif;
    color: #e34806;
}

/* WP BLOCK H3 */
h3 {
    font-family: Verdana, sans-serif;
    color: #023a1e;
}
h3.wp-block-heading {
    font-family: Verdana, sans-serif;
    color: #023a1e;
}
/* WP BLOCK H4 */
h4 {
    font-family: Helvetica, sans-serif;
    color: #fff;
}
h4.wp-block-heading {
    font-family: Helvetica, sans-serif;
    color: #fff;
}
/* WP BLOCK H5 */
h5 {
    font-family: 'Bebas Neue', cursive;
    color: #71C671;
}
h5.wp-block-heading {
    font-family: 'Bebas Neue', cursive;
    color: #71C671;
}
/* WP BLOCK H6 */
h6 {
    font-family: 'DM Serif Display', serif;
    color: #000;
}
h6.wp-block-heading {
    font-family: 'DM Serif Display', serif;
    color: #000;
}

.wp-block-image.is-style-default{
    width:1200px;
    border-top-left-radius: 40px; 
    border-bottom-right-radius: 40px; 
}

.wp-block-paragraph{
    font-family: Helvetica, sans-serif; 
}

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link{
    background-color: #000;
}

.wp-block-pullquote{
    border-top: 4px solid;
    border-bottom: 4px solid;
    margin-bottom: 1.75em;
    margin: 0 0 1em;
    padding: 3em 0;
    text-align: center;
    color: var(--wp--preset--color--goldenrod) ;
    background-color: #003e1f !important;
    font-family: 'DM Serif Display', serif;
}

.wp-block-pullquote::before {
    content: '"';
    display: block;
    font-size: 80px;
    left: -200px;
    top: -30px;
    position: relative;
    height: 0;
    }

    .wp-block-pullquote::after {
        content: '"';
        display: block;
        font-size: 80px;
        right: -320px;
        bottom: 60px;
        position: relative;
        height: 0;
        }

        .wp-block-pullquote .wp-block-pullquote__citation {
            font-family: "Montserrat";
        }
    
    .wp-block-separator.is-style-default{
        
        border-top: 4px solid #003e1f;
        max-width: 300px;
    }    


    .wp-block-separator.is-style-wide{
        
        border-bottom: 6px solid #003e1f;
        
    } 
    
    .wp-block-media-text {
        grid-template-columns: 1fr 50%;
        border-radius: 30px;
    }
    
    .wp-block-media-text__media img{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .wp-block-loginout a{
        text-decoration: none;
        font-family: 'DM Serif Display', serif;
        font-size:1.2rem;
    }

    .wp-block-search__input{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-family: 'DM Serif Display', serif;
    }
    .wp-block-search__button {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-family: 'DM Serif Display', serif;
        background-color: #ffc125;
        border: 1px solid #ccc;
        padding: 0.375em 0.625em;
        line-height: inherit;
        height:40px;
    }

    .wp-block-search__label {
        display: none;
    }
/* WP BLOCK ENDS
--------------------------------------------- */
.entry-content > * {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.entry-header > * {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.alignwide{
    max-width:1200px;
}

.alignfull{
    width:100%;
}

.home{
    padding:20px;
}

.custom-logo{width:100px;}

.menu-toggle{
    display:none;
}

