
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bebas+Neue&family=Oswald&display=swap');

/* WP BLOCK QUOTES */
.wp-block-quote {
    color:green;
    font-family: Gillsans,sans-serif;
}
/* WP BLOCK SITE LOGO */
.wp-block-site-logo.is-style-default {
    width:150px;
    display: flex;
    justify-content: center;
    
}
/* WP BLOCK BUTTONS */
.wp-block-button__link {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #ffc125;
    color:#003e1f;
    border-radius:50px;
    font-family: Gillsans,sans-serif;
}
.wp-block-button__link:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* WP BLOCK QUOTES */
.wp-block-quote.is-style-fancy-quote {
    color: tomato;
}

.wp-block-quote.is-style-large {
    color: #0693e3;
}
/* WP BLOCK QUOTES */


/* WP BLOCK HEADING */
h1.wp-block-heading{
    font-family: 'Oswald', sans-serif;
    color: #0693e3;
}
h1{
    font-family: 'Oswald', sans-serif;
    color: #0693e3;
}

/* WP BLOCK H2 */
h2 {
    font-family: Gillsans, sans-serif;
    color: #e34806;
}
h2.wp-block-heading {
    font-family: Gillsans, sans-serif;
    color: #e34806;
}

/* WP BLOCK H3 */
h3 {
    font-family: Verdana, sans-serif;
    color: #023a1e;
}
h3.wp-block-heading {
    font-family: Verdana, sans-serif;
    color: #023a1e;
}
/* WP BLOCK H4 */
h4 {
    font-family: Helvetica, sans-serif;
    color: #fff;
}
h4.wp-block-heading {
    font-family: Helvetica, sans-serif;
    color: #fff;
}
/* WP BLOCK H5 */
h5 {
    font-family: 'Bebas Neue', cursive;
    color: #71C671;
}
h5.wp-block-heading {
    font-family: 'Bebas Neue', cursive;
    color: #71C671;
}
/* WP BLOCK H6 */
h6 {
    font-family: 'Allison', cursive;
    color: #000;
}
h6.wp-block-heading {
    font-family: 'Allison', cursive;
    color: #000;
}

.wp-block-image.is-style-default{
    width:1200px;
    border-top-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.wp-block-paragraph{
    font-family: Helvetica, sans-serif; 
}

.entry-content > * {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.entry-header > * {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.alignwide{
    max-width:1200px;
}

.alignfull{
    width:100%;
}

.home{
    padding:20px;
}

.custom-logo{width:100px;}

.menu-toggle{
    display:none;
}

