/*---- woocommercer css -----*/
.woocommerce #respond input#submit.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #2a752a;
    font-family: 'DM Serif Display', serif;
    color: #fea437;
    -webkit-font-smoothing: antialiased;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #003e1f;
    color: #fbfbfb;
    
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-family: 'DM Serif Display', serif;
}

.woocommerce #content div.product .summary .cart .quantity .qty, .woocommerce div.product .summary .cart .quantity .qty, .woocommerce-page #content div.product .summary .cart .quantity .qty, .woocommerce-page div.product .summary .cart .quantity .qty {
    padding: 0.6em;
    background-color: #f2f2f2;
    color: #43454b;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 0 -8px 0 8px;
    height: 36px;
}
/* image style in shop archive */
.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    border-radius: 5px;
}
/* product title in shop archive */
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 0.5em 0;
    margin: 0;
    font-size: 0.95em;
    color: #f79824;
    margin-top: -15px;
}
/* product title in shop archive */
.woocommerce ul.products li.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: 0.5em;
    font-size: .857em;
}
/* product button in shop archive */
.woocommerce ul.products li.product .button {
    margin-top: -0.5em;
    left: 30%;
    position: absolute;
    
}
/* product price in shop archive */
.woocommerce ul.products li.product .price {
    color: white;
    display: block;
    font-weight: 700;
    margin-bottom: 1.5em;
    margin-top: -0.5em;
    font-size: 1.257em;
    font-family: 'Oswald';
    text-decoration: none;
}
/* product outline */
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    background-color: #002b16;
    padding: 10px;
    border-radius: 10px;
}
/* product sale */
.woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 0.202em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -0.5em;
    left: -0.5em;
    margin: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 40px;
    background-color: #e34806;
    color: #fff;
    font-size: .857em;
    z-index: 9;
}
/* product sale prices */
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    background: inherit;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
}
/* product meta */
.product_meta{
    display:grid;
    font-size:16px;
}
.sku_wrapper{
    font-size: large;
    font-family: 'Roboto';
}
.posted_in,.tagged_as{
    color:#000000;
    font-size: large;
    font-family: 'Roboto';
}
.posted_in a, .tagged_as a{
    color:#e34806;
    font-size: large;
    font-family: 'Roboto';
}
/* product meta ends*/
.woocommerce-Price-amount amount{color:#e34806;}
/* thumbnails */
.woocommerce div.product div.images .flex-control-thumbs {
    /* margin-top: 8px; */
    display: flex;
    column-gap: 8px;
}
/* tabs */
.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 0px 10px 10px 10px;
}
.tabs{
    background: none;
    border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0px 0 -0.01em;
    overflow: hidden;
    position: relative;
    background-color: #ffe4c4;
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    clear: both;
    background-color: white;
}

.woocommerce-product-details__short-description {
    font-family: 'Roboto';
    font-size: large;
    font-weight: 700;
}


/*font-family: Gillsans, sans-serif; */
/*Single Product Price */
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #77a464;
    font-size: 2.25em;
    font-weight: 600;
    font-family: 'Oswald';
}

.woocommerce #content div.product .summary .cart .quantity .qty, .woocommerce div.product .summary .cart .quantity .qty, .woocommerce-page #content div.product .summary .cart .quantity .qty, .woocommerce-page div.product .summary .cart .quantity .qty {
    font-family: 'Oswald';
    font-weight: 700;
}
/* CHECKOUT COUPON */
.woocommerce-info::before {
    color: #003e1f;
}
.woocommerce-info {
    border-top: 6px solid #003e1f;
    border-bottom: 6px solid #003e1f;
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Oswald';
}
.woocommerce-info a {
    color:#e34806;
}
/* WOOCOMERECE TEXT FIELDS */
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    border-radius:20px;
    padding-left:20px;
}

.woocommerce form .form-row label {
    font-family: Gillsans,sans-serif;
    font-weight: 700;
    padding-left: 20px;
}
.woocommerce-input-wrapper strong{
    padding-left:20px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 3px solid #003e1f;
    padding-left: 5px;
    font-family: Gillsans,sans-serif;
    border-radius: 20px;
}

.woocommerce table.shop_table th {
    font-weight: 700;
    font-size: larger;
    padding: 9px 12px;
    line-height: 1.5em;
    font-family: Gillsans,sans-serif;
    color:#002b16;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    border-radius: 20px;
}

.woocommerce-checkout #payment {
    background: #fff;
    border-radius: 20px;
    font-family: Gillsans;
    font-size: 19px;
}
.woocommerce-privacy-policy-text a{
    color:#e34806;
    text-decoration: underline;
    font-weight: 600;
}
.woocommerce a.button.alt{
    border-radius: 20px !important;
    background-color: #003e1f;
    color: #f79824;
}
.product-name a{
    font-family: Roboto,sans-serif;
    color:#e34806;
    font-weight: bold;
}
.product-price, .product-quantity, .product-subtotal{
    font-family: Roboto,sans-serif;
    font-weight: bold;
}
.woocommerce-shipping-destination, .woocommerce-shipping-methods{font-family: Roboto,sans-serif;}

.woocommerce-shipping-calculator a{color:#e34806; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold;}

.shipping_method label{
    font-family: Roboto,sans-serif;
}

td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 112px;
    border-radius: 9px;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label-inline {
    cursor: pointer;
    color: #e34806;
    font-family: GillSans;
    font-weight: 700;
}

div.wpforms-container-full .wpforms-form ul li {
    display: flex;
}

div.wpforms-container-full .wpforms-form input[type=checkbox]{
    width: 20px;
    height: 20px;
}
div.wpforms-container-full .wpforms-form button[type=submit]{
    border-radius: 20px;
    background-color:#003e1f;
    color: #fea437;
    font-family: 'DM Serif Display';
}
div.wpforms-container-full:hover .wpforms-form button[type=submit]:hover{
    border-radius: 20px;
    background-color:#003e1f;
    color: #fff;
    font-family: 'DM Serif Display';
}
/* button removal */
.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: #fff!important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    background-color: #e34806;
    line-height: 18px;
}
/* DASHBOARD */
.woocommerce .woocommerce-MyAccount-navigation ul li a {
    display: block;
    padding: 10px 13px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #003e1f;
    margin-bottom: 1.3rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    list-style-type: none;
    width: 220px;
    font-family: GillSans;
    font-size: larger;
    font-weight: 600;
    background-color: #fff;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.is-active a {
    color: white;
    background-color: #e34806;
    border-color:#003e1f;
    width: 220px;
    font-family: GillSans;
    font-size: larger;
    font-weight: 600;
    list-style-type: none;
    transition: all 0.3s ease;
    border-radius: 10px;;
}

.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    display: inline-block;
    margin-right: 10px;
}

/* customer dashboards*/
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard a::before {
    content: "\f4fe";
}
/* customer orders*/
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--orders a::before {
    content: "\f022";
}

/* customer downloads */
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads a::before {
    content: '\f019';
}
/* customer address */
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address a::before {
    content: '\f2b9';
}
/* customer account */
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account a::before {
    content: '\f007';
}
/* customer logout */
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--customer-logout a::before {
    content: "\f2f5";
}


.woocommerce-account .woocommerce-MyAccount-content {
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}

.woocommerce-MyAccount-content p{
    font-weight:600;
}

.woocommerce .woocommerce-customer-details address {
    border: 3px solid rgba(0,0,0,.1);
    
}

.order-number,.order-date,.order-status{
    background-color:#f79824;
    font-size: larger;
}

legend{
    color: red;
    font-size: medium;
    font-weight: 600;
}

.woocommerce form.login {
        border: 3px solid green;
        background-color: white;
        padding: 20px;
        margin: 2em 0;
        text-align: left;
        border-radius: 5px;
        
    }    
.woocommerce form.register {
        border: 3px solid green;
        background-color: white;
        padding: 20px;
        margin: 2em 0;
        text-align: left;
        border-radius: 5px;
        
    }    
.woocommerce form.register p{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }    

.woocommerce-LostPassword a{
    color:#e34806;
    font-weight: 600;
    font-family: Gillsans,sans-serif;
    text-decoration: underline;
}    
.woocommerce-MyAccount-content a{
    color:#e34806;
    
}    
.woocommerce-orders-table__cell{
    font-weight: bold;
}
/* ORDER DETAILS */
.woocommerce ul.order_details {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
.woocommerce-notice p {
   font-weight:600;
   color:#e34806;
}
.woocommerce-privacy-policy-text p{
    font-weight:600;
}

.woocommerce .woocommerce-customer-details{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.woocommerce-thankyou-order-received{
    color: #e34806;
    font-weight:600;
}

p{font-weight:700;}

.woocommerce-terms-and-conditions-link{color: #e34806;}

.woocommerce-page div.product div.summary {
    float: right;
    width: 48%;
    clear: none;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.comments-area{display: flex;
    flex-direction: column;
    align-items: center;}